@import url(_variables);

html {
  scroll-behavior: smooth;
}

._lock {
  overflow: hidden;
  @media (min-width: @mobile) {
    padding-right: 17px;
  }
}

body {
  font-family: 'Rubik', sans-serif;
  margin: 0 !important;
}

.font2 {
  font-family: 'Oswald', sans-serif;
}

.font3 {
  font-family: 'Roboto', sans-serif;
}

.hb-wrapper {
  width: 100%;
  overflow: hidden;
}

.padding-block {
  padding-block: var(--gap-md);
}

.padding-block-sm {
  padding-block: var(--gap-sm);
}

.padding-block-lg {
  padding-block: var(--gap-lg);
}

.text-center {
  text-align: center;
}

.block-center {
  margin-inline: auto;
}

.text-no-underline {
  text-decoration: none;
}

.text-light {
  color: var(--color-light) !important;

  a {
    color: var(--color-light) !important;
  }
}

.colored {
  color: var(--color2);
}

.colored2 {
  color: var(--color1);
}

.hb-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.hb-container1 {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.hb-container2 {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.btn {
  color: var(--color-light);

  &:visited {
    color: var(--color-light);
  }

  padding: var(--gap-sm);
  background-color: var(--color1);
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
  //word-spacing: 5px;
  letter-spacing: 1px;
  transition: var(--transition);
  border-radius: 5px;
  display: table;

  &_sm {
    padding: 10px 20px;
    font-size: 14px;
    line-height: 100%;
  }

  &.btn-color-light {
    color: var(--color-light) !important;
  }

  &.btn-bold {
    font-weight: bold;
  }

  &:hover {
    background-color: var(--color1-alter);
    box-shadow: var(--shadow);
    color: var(--color-light);
  }

  &.btn-contrast {
    background-color: var(--color8);

    &:hover {
      background-color: var(--color7);
    }
  }

  &.btn-contrast2 {
    background-color: var(--color3);

    &:hover {
      background-color: var(--color3-alter);
    }
  }
}

.heading {
  font-size: 48px;
  line-height: var(--lh);
  @media (max-width: @mobile) {
    font-size: 35px;
  }
}

.heading-2 {
  font-size: 38px;
  line-height: var(--lh);
  @media (max-width: @mobile) {
    font-size: 28px;
  }
}

.simple-form {
  form {
    input {
      display: inline-block;
      width: 100%;
      max-width: 150px;
      padding: 5px;
      border: 1px solid var(--color1);
    }

    button[type="submit"],
    input[type="submit"] {
      display: inline-block;
      padding: 5px 15px;
      background: var(--color1);
      color: var(--color-light);
      min-height: 36px;
      border: none;
      cursor: pointer;
      width: unset;
      max-width: unset;
    }
  }
}


//flex grow for main
#page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#primary {
  flex: 1 1 100%;
}

//link color for pages
.type-page a {
  color: var(--color2);
}

//breadcrumbs
.yoast-breadcrumbs {
  margin-block: var(--gap-xsm);

  span, a {
    color: var(--color1);
  }
}


//product loop template
.hb-products-loop {

  &__heading {
    margin-top: 0;
  }

  &__holder {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min-content, 270px));
    justify-content: center;
    gap: var(--gap-sm);
  }

  &__item {
    padding: var(--gap-sm);
    background-color: var(--color-light);
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;
    }

    box-shadow: 0 0 5px var(--color2-light2);
    border-radius: var(--border-radius);
  }

  .btn {
    margin-top: auto;
    width: fit-content;
  }

  img {
    display: block;
    width: 100%;
    max-width: 300px;
    height: 225px;
    object-fit: cover;
  }
}

//archive
.hb-grid-of-posts-loop {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 370px));
  justify-content: center;
  gap: var(--gap-sm);

  article {
    width: 100%;
    max-width: 370px;
    overflow: hidden;
    padding: var(--gap-sm);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);

    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);

    a.btn {
      margin-top: auto;
      display: table;
      width: fit-content;
    }
  }

  &__featured {
    img {
      height: 225px;
      object-fit: cover;
      width: 100%;
      max-width: 330px;
    }
  }
}

.hb-pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  & > * {
    color: var(--color1);
  }

  a, span {
    padding: 5px;
    text-decoration: none;
  }

  .current {
    font-weight: bold;
  }
}

//hb-calc1 code
.hb-calc1 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--gap-xsm);

  input {
    margin-block: 10px;
    border: 1px solid var(--color1);
    padding: 5px;
  }
}

.hb-regular-swiper {
  background-color: var(--color2-light3);

  &__item {
    padding: var(--gap-sm) var(--gap-md);
  }

  &__heading {
    margin: 0;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: var(--color2);
  }

  .swiper-pagination-bullet {
    background: var(--color2);
  }
}

//hb text front
.hb-front-desk {
  font-family: var(--font2);

  strong {
    font-size: 24px;
    letter-spacing: 1px;
    color: var(--color9);
    font-weight: 600;
    text-transform: uppercase;
  }

  h2 {
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-block: 20px 30px;
    text-transform: uppercase;
  }

  p {
    margin-block: 30px 40px;
    font-weight: 400;
    font-family: var(--font3);
    font-size: 16px;
    line-height: 112%;
  }

  &__more {
    display: table;
    padding: 14px 20px;
    background-color: var(--color10);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }
}

