.site-footer {
  padding-top: var(--gap-md);
  background-color: var(--color-dark2);
  color: var(--color-light);

  a {
    color: var(--color2);
    text-decoration: none;
  }

  &__holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--gap-sm);
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xsm);
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }

    li {
      margin-bottom: 5px;
    }
  }

  &__logo {
    text-align: center;
    gap: var(--gap-sm);
    .custom-logo {
      padding: var(--gap-xsm);
      background-color: var(--color-light);
      border-radius: 5px;
    }
    @media (max-width: @mobile) {
      justify-self: center;
      align-self: center;
      margin-inline: auto;
    }
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-md);
    align-items: center;
    justify-content: center;
    margin-bottom: var(--gap-sm);

    @media (max-width: @mobile) {
      gap: var(--gap-xsm);
    }
  }

  &__social-heading, &__accept-heading {
    margin: 0;
    margin-bottom: var(--gap-xsm);
    text-align: center;
  }

  &__social-items, &__accept-items {
    display: flex;
    gap: var(--gap-sm);
    


    a, i {
      color: var(--color-light);
      font-size: 30px;
    }

    a:hover {
      i {
        color: var(--color2);
      }
    }
  }

  &__copyright {
    padding-block: var(--gap-xsm);
    margin-top: var(--gap-xsm);
    border-top: 1px solid var(--color-light);
  }
}