@import url("vendor/normalize.min.css");
@import url("vendor/swiper-bundle.css");
:root {
  font-size: 16px;
  line-height: 150%;
  --font1: 'Rubik', sans-serif;
  --font2: 'Oswald', sans-serif;
  --font3: 'Roboto', sans-serif;
  --color-light: #fff;
  --color-dark: #4c484e;
  --color-dark1: #848485;
  --color-dark2: rgba(0, 0, 0, 0.7);
  --color-dark3: #35363a;
  --color-dark4: #000;
  --color1: hsl(209, 59%, 14%);
  --color1-alter: hsl(209, 39%, 14%);
  --color1-light: hsla(209, 59%, 14%, 0.6);
  --color1-light2: hsla(209, 59%, 14%, 0.2);
  --color2: hsl(220, 58%, 20%);
  --color2-alter: hsl(220, 38%, 20%);
  --color2-light: hsla(220, 58%, 20%, 0.6);
  --color2-light2: hsla(220, 58%, 20%, 0.2);
  --color2-light3: hsla(220, 58%, 20%, 0.1);
  --slinky-bg: #f6f7f8;
  --color3: hsl(166, 75%, 34%);
  --color3-alter: hsl(166, 45%, 34%);
  --color4: hsl(198, 50%, 34%);
  --color5: hsl(338, 75%, 34%);
  --color6: hsl(30, 75%, 50%);
  --color7: hsl(39, 100%, 50%);
  --color8: hsl(24, 75%, 50%);
  --color9: hsl(358, 84%, 48%);
  --color9v1: #d72329;
  --color10: hsl(205, 65%, 41%);
  --lh: 150%;
  --transition: all 0.25s linear;
  --border-radius: 5px;
  --shadow: 0px 0px 5px var(--color1-alter);
  --gap-lg: 100px;
  --gap-md: 50px;
  --gap-sm: 20px;
  --gap-xsm: 10px;
}
@media (max-width: 768px) {
  :root {
    --gap-lg: 50px;
    --gap-md: 30px;
    --gap-sm: 15px;
  }
}
html {
  scroll-behavior: smooth;
}
._lock {
  overflow: hidden;
}
@media (min-width: 768px) {
  ._lock {
    padding-right: 17px;
  }
}
body {
  font-family: 'Rubik', sans-serif;
  margin: 0 !important;
}
.font2 {
  font-family: 'Oswald', sans-serif;
}
.font3 {
  font-family: 'Roboto', sans-serif;
}
.hb-wrapper {
  width: 100%;
  overflow: hidden;
}
.padding-block {
  padding-block: var(--gap-md);
}
.padding-block-sm {
  padding-block: var(--gap-sm);
}
.padding-block-lg {
  padding-block: var(--gap-lg);
}
.text-center {
  text-align: center;
}
.block-center {
  margin-inline: auto;
}
.text-no-underline {
  text-decoration: none;
}
.text-light {
  color: var(--color-light) !important;
}
.text-light a {
  color: var(--color-light) !important;
}
.colored {
  color: var(--color2);
}
.colored2 {
  color: var(--color1);
}
.hb-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.hb-container1 {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.hb-container2 {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.btn {
  color: var(--color-light);
  padding: var(--gap-sm);
  background-color: var(--color1);
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
  letter-spacing: 1px;
  transition: var(--transition);
  border-radius: 5px;
  display: table;
}
.btn:visited {
  color: var(--color-light);
}
.btn_sm {
  padding: 10px 20px;
  font-size: 14px;
  line-height: 100%;
}
.btn.btn-color-light {
  color: var(--color-light) !important;
}
.btn.btn-bold {
  font-weight: bold;
}
.btn:hover {
  background-color: var(--color1-alter);
  box-shadow: var(--shadow);
  color: var(--color-light);
}
.btn.btn-contrast {
  background-color: var(--color8);
}
.btn.btn-contrast:hover {
  background-color: var(--color7);
}
.btn.btn-contrast2 {
  background-color: var(--color3);
}
.btn.btn-contrast2:hover {
  background-color: var(--color3-alter);
}
.heading {
  font-size: 48px;
  line-height: var(--lh);
}
@media (max-width: 768px) {
  .heading {
    font-size: 35px;
  }
}
.heading-2 {
  font-size: 38px;
  line-height: var(--lh);
}
@media (max-width: 768px) {
  .heading-2 {
    font-size: 28px;
  }
}
.simple-form form input {
  display: inline-block;
  width: 100%;
  max-width: 150px;
  padding: 5px;
  border: 1px solid var(--color1);
}
.simple-form form button[type="submit"],
.simple-form form input[type="submit"] {
  display: inline-block;
  padding: 5px 15px;
  background: var(--color1);
  color: var(--color-light);
  min-height: 36px;
  border: none;
  cursor: pointer;
  width: unset;
  max-width: unset;
}
#page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#primary {
  flex: 1 1 100%;
}
.type-page a {
  color: var(--color2);
}
.yoast-breadcrumbs {
  margin-block: var(--gap-xsm);
}
.yoast-breadcrumbs span,
.yoast-breadcrumbs a {
  color: var(--color1);
}
.hb-products-loop__heading {
  margin-top: 0;
}
.hb-products-loop__holder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 270px));
  justify-content: center;
  gap: var(--gap-sm);
}
.hb-products-loop__item {
  padding: var(--gap-sm);
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px var(--color2-light2);
  border-radius: var(--border-radius);
}
.hb-products-loop__item a {
  text-decoration: none;
}
.hb-products-loop .btn {
  margin-top: auto;
  width: fit-content;
}
.hb-products-loop img {
  display: block;
  width: 100%;
  max-width: 300px;
  height: 225px;
  object-fit: cover;
}
.hb-grid-of-posts-loop {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 370px));
  justify-content: center;
  gap: var(--gap-sm);
}
.hb-grid-of-posts-loop article {
  width: 100%;
  max-width: 370px;
  overflow: hidden;
  padding: var(--gap-sm);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}
.hb-grid-of-posts-loop article a.btn {
  margin-top: auto;
  display: table;
  width: fit-content;
}
.hb-grid-of-posts-loop__featured img {
  height: 225px;
  object-fit: cover;
  width: 100%;
  max-width: 330px;
}
.hb-pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.hb-pagination > * {
  color: var(--color1);
}
.hb-pagination a,
.hb-pagination span {
  padding: 5px;
  text-decoration: none;
}
.hb-pagination .current {
  font-weight: bold;
}
.hb-calc1 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--gap-xsm);
}
.hb-calc1 input {
  margin-block: 10px;
  border: 1px solid var(--color1);
  padding: 5px;
}
.hb-regular-swiper {
  background-color: var(--color2-light3);
}
.hb-regular-swiper__item {
  padding: var(--gap-sm) var(--gap-md);
}
.hb-regular-swiper__heading {
  margin: 0;
}
.hb-regular-swiper .swiper-button-next,
.hb-regular-swiper .swiper-button-prev {
  color: var(--color2);
}
.hb-regular-swiper .swiper-pagination-bullet {
  background: var(--color2);
}
.hb-front-desk {
  font-family: var(--font2);
}
.hb-front-desk strong {
  font-size: 24px;
  letter-spacing: 1px;
  color: var(--color9);
  font-weight: 600;
  text-transform: uppercase;
}
.hb-front-desk h2 {
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-block: 20px 30px;
  text-transform: uppercase;
}
.hb-front-desk p {
  margin-block: 30px 40px;
  font-weight: 400;
  font-family: var(--font3);
  font-size: 16px;
  line-height: 112%;
}
.hb-front-desk__more {
  display: table;
  padding: 14px 20px;
  background-color: var(--color10);
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.site-header:not(.header_is_front) {
  padding-bottom: var(--gap-sm);
}
.site-header .site-line {
  background-color: var(--color-dark3);
  color: var(--color-light);
  border-top: 1px solid var(--color-dark1);
  border-bottom: 1px solid var(--color-dark1);
}
.site-header .site-line .hb-container {
  font-size: 15px;
  padding-block: var(--gap-xsm);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--gap-xsm);
}
@media (max-width: 872px) {
  .site-header .site-line .hb-container {
    justify-content: center;
  }
  .site-header .site-line__side {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .site-header .site-line .advantages {
    display: none;
  }
}
.site-header .site-line__side {
  display: flex;
  gap: var(--gap-xsm);
}
.site-header .site-line a {
  color: inherit;
  text-decoration: none;
}
.site-header .site-line a:hover {
  text-decoration: underline;
}
.site-header .site-branding {
  padding-block: var(--gap-xsm);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-xsm);
}
@media (max-width: 768px) {
  .site-header .site-branding {
    justify-content: center;
  }
}
.site-header .site-branding__logo img {
  width: 100%;
  max-width: 259px;
}
.site-header .site-branding__side {
  flex: 1 1 300px;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-sm);
}
@media (max-width: 768px) {
  .site-header .site-branding__side {
    justify-content: center;
  }
}
.site-header .site-branding__side a {
  text-decoration: none;
  font-size: 18px;
}
.site-header .site-branding__search {
  display: flex;
  gap: var(--gap-sm);
}
@media (min-width: 1070px) {
  .site-header .site-branding__search .mob-menu-trigger {
    display: none;
  }
}
.site-header .site-branding__search .mob-menu-trigger {
  background: none;
  border-color: var(--color-dark);
}
.site-header .site-branding__search input,
.site-header .site-branding__search .addsearch.search-field {
  width: 100%;
  display: block;
  padding: 12px 14px;
  box-sizing: border-box;
  border-top: 2px solid var(--color-dark2);
  border-bottom: 2px solid var(--color-dark2);
  border-left: 1px solid var(--color-dark);
  border-right: 1px solid var(--color-dark);
}
@media (min-width: 768px) {
  .site-header .site-branding__search input,
  .site-header .site-branding__search .addsearch.search-field {
    min-width: 342px;
  }
}
@media (max-width: 768px) {
  .site-header .site-branding__search input,
  .site-header .site-branding__search .addsearch.search-field {
    width: 100%;
    min-width: unset;
    max-width: unset;
  }
}
.site-header .site-branding__contacts {
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-xsm);
}
.site-header .site-branding__contacts a {
  font-size: inherit;
  color: inherit;
}
.site-header .site-branding__contacts a:hover {
  text-decoration: underline;
}
.site-header .site-branding__contacts em {
  margin-right: var(--gap-sm);
}
.site-header__aftertext {
  background-color: var(--color1);
  padding-block: var(--gap-xsm);
  font-weight: 500;
}
.main-navigation a {
  color: var(--color-dark);
}
.main-navigation .menu-toggle {
  background-color: transparent;
  border: 1px solid var(--color-dark1);
  color: var(--color-dark);
  outline: none;
  display: table;
  margin-left: auto;
}
@media (min-width: 1070px) {
  .main-navigation .menu-toggle {
    display: none;
  }
}
@media (max-width: 1070px) {
  .main-navigation:not(.toggled) ul#primary-menu {
    display: none;
  }
  .main-navigation.toggled ul#primary-menu {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}
.main-navigation ul#primary-menu {
  padding-block: var(--gap-xsm);
  display: flex;
  gap: var(--gap-sm);
}
@media (max-width: 1070px) {
  .main-navigation ul#primary-menu {
    display: none !important;
    position: fixed;
    top: 0;
    left: 0;
    padding: var(--gap-sm);
    min-height: 100vh;
    height: 100%;
    overflow: auto;
    background-color: var(--color-light);
    min-width: 270px;
    box-shadow: var(--shadow);
    z-index: 999999999999999999999999999;
  }
  .main-navigation ul#primary-menu a {
    margin-bottom: 5px !important;
  }
}
@media (max-width: 1070px) {
  .main-navigation ul#primary-menu .sub-menu {
    position: static !important;
    display: flex !important;
    flex-direction: column !important;
    box-shadow: none !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
  }
}
.main-navigation ul#primary-menu > .menu-item.menu-item-has-children {
  position: relative;
  display: flex;
}
.main-navigation ul#primary-menu > .menu-item.menu-item-has-children::after {
  content: '';
  width: 5px;
  height: 5px;
  position: relative;
  display: inline-block;
  top: 50%;
  right: -5px;
  transform: translateY(-50%) rotate(45deg);
  border-right: 1px solid var(--color1);
  border-bottom: 1px solid var(--color1);
}
@media (max-width: 1070px) {
  .main-navigation ul#primary-menu > .menu-item.menu-item-has-children {
    flex-direction: column;
    position: static;
  }
  .main-navigation ul#primary-menu > .menu-item.menu-item-has-children::after {
    display: none;
  }
}
.main-navigation ul#primary-menu > .menu-item.menu-item-has-children > .sub-menu {
  padding: var(--gap-sm);
  background-color: var(--color-light);
}
@media (min-width: 1070px) {
  .main-navigation ul#primary-menu > .menu-item.menu-item-has-children > .sub-menu {
    transform: translateX(-300px);
  }
}
.main-navigation ul#primary-menu > .menu-item.menu-item-has-children > .sub-menu > .menu-item.menu-item-has-children a {
  margin-right: var(--gap-xsm);
  margin-bottom: var(--gap-xsm);
  min-width: 200px;
  font-weight: bold;
}
.main-navigation ul#primary-menu > .menu-item.menu-item-has-children > .sub-menu > .menu-item.menu-item-has-children > .sub-menu {
  display: block;
  left: 0;
  top: 100%;
  position: static;
  box-shadow: unset;
}
.main-navigation ul#primary-menu > .menu-item.menu-item-has-children > .sub-menu > .menu-item.menu-item-has-children > .sub-menu a {
  font-weight: normal;
}
.slinky-mobile-menu .mobile-menu.slinky-menu.slinky-theme-default {
  min-height: 100vh !important;
}
.slinky-mobile-menu ul {
  padding-left: 0;
}
@media (min-width: 1070px) {
  .slinky-mobile-menu {
    display: none;
  }
  .slinky-mobile-menu .close-slinky-menu {
    display: none;
  }
}
.slinky-mobile-menu:not(.active) {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
}
.slinky-mobile-menu.active .close-slinky-menu {
  background: none;
  border: 1px solid var(--color1-light2);
  font-size: 25px;
  line-height: 100%;
  margin-left: auto;
  padding: 0;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1070px) {
  .slinky-mobile-menu.active {
    position: fixed;
    top: 0;
    left: 0;
    padding: var(--gap-sm);
    background-color: var(--slinky-bg);
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 999999999;
  }
  .slinky-mobile-menu.active ul {
    padding-left: 0;
  }
}
.woocommerce .site-footer,
.site-footer {
  background-color: #444645;
  color: var(--color-light);
  line-height: var(--lh);
}
.woocommerce .site-footer a,
.site-footer a {
  color: inherit;
  transition: var(--transition);
}
.woocommerce .site-footer a,
.site-footer a,
.woocommerce .site-footer a:visited,
.site-footer a:visited {
  color: var(--color-light);
}
.woocommerce .site-footer a:hover,
.site-footer a:hover {
  text-decoration: underline;
}
.woocommerce .site-footer .footer-badges,
.site-footer .footer-badges {
  background-color: var(--color1);
}
.woocommerce .site-footer .footer-badges .hb-container,
.site-footer .footer-badges .hb-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.woocommerce .site-footer .footer-line,
.site-footer .footer-line {
  background-color: var(--color2);
}
.woocommerce .site-footer .footer-line .hb-container,
.site-footer .footer-line .hb-container {
  padding-block: var(--gap-sm);
  font-weight: 500;
}
.woocommerce .site-footer a,
.site-footer a {
  text-decoration: none;
}
.woocommerce .site-footer__holder,
.site-footer__holder {
  padding-top: var(--gap-md);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--gap-sm);
}
.woocommerce .site-footer__holder > *,
.site-footer__holder > *,
.woocommerce .site-footer__holder .cell,
.site-footer__holder .cell {
  line-height: var(--lh);
}
@media (max-width: 768px) {
  .woocommerce .site-footer__holder,
  .site-footer__holder {
    justify-content: center;
    align-items: center;
  }
}
.woocommerce .site-footer__item,
.site-footer__item {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xsm);
}
@media (max-width: 768px) {
  .woocommerce .site-footer__item,
  .site-footer__item {
    flex: 1 1 100%;
  }
}
.woocommerce .site-footer__item ul,
.site-footer__item ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.woocommerce .site-footer__item li,
.site-footer__item li {
  margin-bottom: 5px;
  line-height: var(--lh);
}
.woocommerce .site-footer .footer-menu__heading,
.site-footer .footer-menu__heading {
  margin: 0;
  margin-bottom: var(--gap-xsm);
}
.woocommerce .site-footer__links,
.site-footer__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-sm);
  margin-block: var(--gap-sm);
}
.woocommerce .site-footer__social,
.site-footer__social {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-sm);
  font-size: 35px;
}
@media (max-width: 768px) {
  .woocommerce .site-footer__social,
  .site-footer__social {
    justify-content: center;
    align-items: center;
  }
}
.woocommerce .site-footer__social a:hover,
.site-footer__social a:hover {
  color: var(--color1-alter);
}
.woocommerce .site-footer__accept,
.site-footer__accept {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-sm);
  font-size: 35px;
}
.woocommerce .site-footer__copyright,
.site-footer__copyright {
  padding-block: 0 var(--gap-xsm);
  font-size: 14px;
}
.hb-front-hero {
  background-color: var(--color-dark4);
  background-size: cover;
  background-position: top -150px center;
  position: relative;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .hb-front-hero {
    background-size: cover;
    background-position: center center;
  }
}
.hb-front-hero::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.54) 44%, rgba(49, 102, 141, 0) 100%);
}
@media (max-width: 768px) {
  .hb-front-hero::before {
    height: 600px;
  }
}
.hb-front-hero .hb-container2 {
  position: relative;
  padding-block: 170px 50px;
}
@media (max-width: 768px) {
  .hb-front-hero .hb-container2 {
    padding-block: 50px 0;
  }
}
.hb-front-hero__pre-title {
  color: var(--color-light);
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 100%;
}
@media (max-width: 768px) {
  .hb-front-hero__pre-title {
    font-size: 22px;
    margin-bottom: var(--gap-sm);
    line-height: 120%;
  }
}
.hb-front-hero__title {
  color: var(--color-light);
  text-align: center;
  margin: 0;
  position: relative;
  filter: drop-shadow(-1.792px 4.668px 4px rgba(0, 0, 0, 0.34));
  font-weight: 600;
  font-size: 120px;
  letter-spacing: 7px;
  line-height: 100%;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .hb-front-hero__title {
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 150%;
    letter-spacing: unset;
  }
}
.hb-front-hero__holder {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-block: 70px 80px;
  position: relative;
}
.hb-front-hero__holder::before {
  content: '';
  width: 200vw;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0%;
  pointer-events: none;
  transform: translateX(-50%);
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 20%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.7) 80%, rgba(255, 255, 255, 0) 100%);
}
@media (max-width: 768px) {
  .hb-front-hero__holder {
    padding-block: 50px;
    position: relative;
    gap: 10px;
    align-items: flex-start;
  }
}
.hb-front-hero__item {
  position: relative;
  z-index: 2;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .hb-front-hero__item {
    flex: 0 1 90px;
  }
}
.hb-front-hero__cat-img-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  padding: 10px;
  overflow: hidden;
  border: 5px solid var(--color-dark4);
  border-radius: 50%;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .hb-front-hero__cat-img-holder {
    width: 90px;
    height: 90px;
    border: 3px solid var(--color-dark4);
  }
}
.hb-front-hero__cat-img {
  display: table;
  width: 70px;
  height: 70px;
  object-fit: contain;
  object-position: center center;
}
@media (max-width: 768px) {
  .hb-front-hero__cat-img {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
}
.hb-front-hero__cat-name {
  text-align: center;
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: 600;
  color: var(--color9);
  font-family: var(--font2);
  font-size: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .hb-front-hero__cat-name {
    margin-top: 10px;
    font-size: 13px;
  }
}
.hb-front-savings {
  background-color: var(--color-dark2);
  color: var(--color-light);
  background-image: url(../img/front-savings-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  border-top: 11px solid var(--color-dark4);
  padding-block: 119px 164px;
}
@media (max-width: 768px) {
  .hb-front-savings {
    padding-block: 50px;
  }
}
.hb-front-savings__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 243px;
}
@media (max-width: 1351px) {
  .hb-front-savings__top {
    padding-bottom: 20px;
  }
}
.hb-front-savings__highlight {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--color9v1);
  padding-right: 40px;
}
.hb-front-savings__highlight::before {
  content: '';
  width: calc(100% + 30px);
  height: 852px;
  position: absolute;
  display: block;
  top: 0;
  left: -30px;
  background-color: var(--color9v1);
  pointer-events: none;
}
@media (max-width: 1351px) {
  .hb-front-savings__highlight::before {
    display: none;
  }
}
@media (max-width: 1351px) {
  .hb-front-savings__highlight {
    padding: 20px;
    width: 100%;
    background-color: var(--color9v1);
    margin-bottom: 20px;
  }
}
.hb-front-savings__highlight-year {
  font-size: 163px;
  letter-spacing: 7px;
  font-family: var(--font2);
  text-align: center;
  position: relative;
  z-index: 2;
  color: var(--color-dark4);
}
@media (max-width: 1351px) {
  .hb-front-savings__highlight-year {
    font-size: 120px;
  }
}
.hb-front-savings__highlight-slogan {
  font-size: 103px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: var(--font2);
  text-align: center;
  position: relative;
  z-index: 2;
}
@media (max-width: 13511px) {
  .hb-front-savings__highlight-slogan {
    font-size: 70px;
  }
}
.hb-front-savings__desc {
  font-family: var(--font2);
  flex: 0 1 792px;
  position: relative;
  z-index: 2;
}
.hb-front-savings__desc strong {
  font-size: 24px;
  letter-spacing: 1px;
  color: var(--color9);
  font-weight: 600;
}
.hb-front-savings__desc h2 {
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-block: 20px 30px;
}
.hb-front-savings__desc p {
  margin-block: 30px 40px;
  font-weight: 400;
  font-family: var(--font3);
  font-size: 16px;
  line-height: 112%;
}
.hb-front-savings__more {
  display: table;
  padding: 14px 20px;
  background-color: var(--color10);
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.hb-front-savings__heading {
  position: relative;
  z-index: 2;
  font-weight: 600;
  font-family: var(--font2);
  font-size: 32px;
  letter-spacing: 1px;
  margin-bottom: 53px;
}
@media (max-width: 768px) {
  .hb-front-savings__heading {
    margin-bottom: 20px;
  }
}
.hb-front-savings__loop {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--gap-sm);
  font-family: var(--font2);
}
@media (max-width: 1383px) {
  .hb-front-savings__loop {
    justify-content: flex-start;
  }
}
.hb-front-savings__item {
  box-sizing: border-box;
  border: 23px solid var(--color-dark4);
  background-color: var(--color-dark4);
  flex: 0 1 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hb-front-savings__item img {
  width: 100%;
  max-width: 356px;
  height: 260px;
  object-fit: cover;
  object-position: center center;
  display: block;
}
.hb-front-savings__inner {
  display: flex;
  flex-direction: column;
}
.hb-front-savings__title {
  margin-top: 25px;
  margin-bottom: 17px;
  display: flex;
  justify-content: space-between;
  gap: var(--gap-sm);
}
.hb-front-savings__title h3 {
  margin: 0;
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 125%;
  font-weight: 600;
}
.hb-front-savings__title span {
  color: var(--color9);
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 125%;
  font-weight: 600;
}
.hb-front-savings__info {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: var(--font3);
  margin-bottom: 31px;
}
.hb-front-savings__btn {
  display: table;
  text-decoration: none;
  background-color: var(--color10);
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 15px 25px;
  line-height: 100%;
  margin-top: auto;
}
.hb-front-text-img {
  display: flex;
  flex-wrap: wrap;
  color: var(--color-light);
}
.hb-front-text-img__item {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark4);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 768px) {
  .hb-front-text-img__item {
    flex: 1 1 100%;
  }
}
.hb-front-text-img__inner {
  width: 100%;
  max-width: 728px;
  padding: 20px;
  box-sizing: border-box;
}
.hb-front-text-img__inner.padding-block {
  padding-block: var(--gap-lg);
}
.hb-front-text-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .hb-front-text-img img {
    height: auto;
  }
}
.hb-front-help {
  background-color: var(--color9);
  background-image: url(../img/front-help-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-light);
}
.hb-front-help .hb-container2 {
  padding-block: 100px 180px;
}
@media (max-width: 768px) {
  .hb-front-help .hb-container2 {
    padding-block: 50px;
  }
}
.hb-front-help__start {
  color: var(--color-dark4);
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 145%;
  padding: 0;
  margin-bottom: 20px;
  font-weight: 600;
}
.hb-front-help__heading {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 32px;
  line-height: 109%;
}
.hb-front-help__text {
  width: 100%;
  max-width: 1227px;
  font-family: var(--font3);
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin: 0 auto;
}
.hb-front-help__holder {
  margin-top: 93px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 417px));
  gap: var(--gap-md);
}
@media (max-width: 1408px) {
  .hb-front-help__holder {
    grid-template-columns: repeat(auto-fill, minmax(min-content, 300px));
    margin-top: 40px;
  }
}
@media (max-width: 768px) {
  .hb-front-help__holder {
    margin-top: 40px;
  }
}
.hb-front-help__item {
  flex: 1 1 417px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 150px 100px 1fr;
  justify-content: center;
  align-items: center;
}
.hb-front-help__icon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
  border: 5px solid var(--color-dark4);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-inline: auto;
}
.hb-front-help__img {
  max-width: 120px;
  max-height: 120px;
  object-fit: contain;
  object-position: center center;
}
.hb-front-help__title {
  margin: 0;
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 120%;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-dark4);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-light);
}
@media (max-width: 768px) {
  .hb-front-help__title {
    font-size: 25px;
  }
}
.hb-front-help__info {
  font-family: var(--font3);
  font-size: 16px;
  line-height: 18px;
  align-self: flex-start;
  justify-self: flex-start;
  text-align: justify;
}
.hb-front-customers {
  background-color: var(--color-dark4);
  background-image: url(../img/front-customers-bg.png);
  background-size: cover;
  color: var(--color-light);
}
.hb-front-customers .hb-container2 {
  padding-block: 108px 78px;
}
.hb-front-customers__heading {
  margin: 0;
  font-family: var(--font2);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 32px;
}
.hb-front-customers__holder {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--gap-md);
}
.hb-front-customers__item {
  flex: 1 1 300px;
}
.hb-front-customers__rating {
  margin-bottom: 40px;
}
.hb-front-customers__text {
  font-family: var(--font3);
  font-size: 16px;
}
.hb-front-customers__more {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-sm);
  width: 100%;
  max-width: 785px;
  margin-inline: auto;
  margin-top: 70px;
}
.hb-front-customers__btn {
  flex: 0 1 364px;
  text-decoration: none;
  display: block;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--color10);
  padding: 13px;
  line-height: 100%;
}
.hb-front-badges {
  background-color: var(--color-dark4);
  background-image: url(../img/front-badges-bg.png);
  background-size: cover;
  padding-block: 40px;
}
.hb-front-badges .hb-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--gap-lg);
}
@media (max-width: 768px) {
  .hb-front-badges .hb-container2 {
    gap: var(--gap-sm);
  }
}
.woocommerce a:not(header, footer) {
  color: var(--color2);
}
.woocommerce .wc-proceed-to-checkout {
  color: var(--color-light) !important;
}
.woocommerce .wc-proceed-to-checkout a {
  color: var(--color-light) !important;
}
.woocommerce .woocommerce-notices-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.woocommerce button[type="submit"],
.woocommerce input[type="submit"],
.woocommerce .single_add_to_cart_button.button.alt.wp-element-button,
.woocommerce #respond input#submit.submit,
.woocommerce .button.wc-backward.wp-element-button,
.woocommerce a.woocommerce-Button.button,
.woocommerce .add_to_cart_button.ajax_add_to_cart,
.woocommerce .checkout-button.button.alt.wc-forward.wp-element-button,
.woocommerce #place_order {
  background-color: var(--color1);
  color: var(--color-light);
}
.woocommerce button[type="submit"]:hover,
.woocommerce input[type="submit"]:hover,
.woocommerce .single_add_to_cart_button.button.alt.wp-element-button:hover,
.woocommerce #respond input#submit.submit:hover,
.woocommerce .button.wc-backward.wp-element-button:hover,
.woocommerce a.woocommerce-Button.button:hover,
.woocommerce .add_to_cart_button.ajax_add_to_cart:hover,
.woocommerce .checkout-button.button.alt.wc-forward.wp-element-button:hover,
.woocommerce #place_order:hover {
  background-color: var(--color1-alter);
  color: var(--color-light);
}
.woocommerce ul.products li.product .price {
  color: var(--color1);
}
.woocommerce .comment-form input:not([type="submit"]),
.woocommerce .comment-form textarea {
  border-radius: 5px;
  padding: var(--gap-xsm);
}
.woocommerce .product_meta {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xsm);
}
.woocommerce div.product p.price {
  color: var(--color1);
}
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
  border-color: var(--color2-light2);
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::after {
  border-color: var(--color2-light2);
  box-shadow: none;
  opacity: 0.5;
}
.woocommerce .sku_wrapper {
  font-weight: bold;
}
.woocommerce .sku_wrapper .sku {
  font-weight: normal;
}
.woocommerce .posted_in {
  font-weight: bold;
}
.woocommerce .posted_in a {
  font-weight: normal;
}
.woocommerce .flex-control-thumbs {
  display: flex;
  gap: 5px;
  overflow: auto;
}
@media (max-width: 768px) {
  .woocommerce .flex-control-thumbs {
    flex-wrap: wrap;
  }
}
.woocommerce .woocommerce-form.woocommerce-form-login.login {
  border-color: var(--color2);
}
.woocommerce .woocommerce-form.woocommerce-form-login.login input:not([type="submit"]) {
  padding: 10px;
  border-color: var(--color2);
}
.woocommerce .woocommerce-EditAccountForm.edit-account {
  border-color: var(--color2);
}
.woocommerce .woocommerce-EditAccountForm.edit-account input:not([type="submit"]) {
  padding: 10px;
  border-color: var(--color2);
}
.woocommerce .woocommerce-EditAccountForm.edit-account fieldset {
  border-color: var(--color2-light2);
}
.woocommerce .woocommerce-MyAccount-navigation ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xsm);
  margin-bottom: var(--gap-sm);
  list-style-type: none;
}
.woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link {
  padding: var(--gap-xsm);
  border: 1px solid var(--color1);
}
.woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link.is-active {
  background-color: var(--color1);
  color: var(--color-light);
}
.woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link.is-active a {
  color: inherit;
}
.woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link a {
  text-decoration: none;
}
.woocommerce ul.products li.product {
  padding: 15px;
  box-shadow: 0 0 5px var(--color2-light2);
  border-radius: 5px;
}
.woocommerce .button.wp-element-button[aria-disabled="true"] {
  color: var(--color-light) !important;
}
.woocommerce .button.wp-element-button[aria-disabled="true"]:hover {
  color: var(--color-dark) !important;
}
.woocommerce .variation {
  margin-top: var(--gap-xsm);
  display: flex;
  flex-direction: column;
}
.woocommerce .variation p {
  margin: 0;
}
.woocommerce #add_payment_method #payment,
.woocommerce .woocommerce-cart #payment,
.woocommerce .woocommerce-checkout #payment {
  background-color: var(--color2-light3);
}
.woocommerce .checkout.woocommerce-checkout input:not([type="submit"]),
.woocommerce .checkout.woocommerce-checkout select,
.woocommerce .checkout.woocommerce-checkout textarea {
  padding: 10px;
  border-color: var(--color2);
}
.woocommerce .checkout.woocommerce-checkout .select2-selection.select2-selection--single {
  border-color: var(--color2);
}
.woocommerce a.added_to_cart.wc-forward {
  display: block;
}
.single-product-container-woo-thumbs-and-meta {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-sm);
  align-items: flex-start;
  justify-content: flex-start;
}
.single-product-container-woo-thumbs-and-meta .woocommerce-product-gallery {
  order: 2;
}
.price {
  color: var(--color1);
}
.woocommerce-variation-price span {
  color: var(--color1) !important;
}
.variable-items-wrapper {
  color: var(--color1);
}
.variable-items-wrapper span {
  color: inherit;
}
.product_meta {
  color: var(--color1);
}
.product-title-summary {
  margin-top: 0;
  margin-bottom: var(--gap-sm);
}
.summary.entry-summary {
  margin-top: 0;
}
.up-sells.upsells.products,
.related.products {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.up-sells.upsells.products h2,
.related.products h2 {
  text-align: center;
  color: var(--color1);
}
.woocommerce-product-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-xsm);
}
@media (max-width: 768px) {
  .woocommerce-product-gallery {
    flex-wrap: wrap;
  }
}
.flex-control-nav.flex-control-thumbs {
  display: flex;
  flex-wrap: wrap;
  order: 5;
}
@media (max-width: 768px) {
  .flex-control-nav.flex-control-thumbs {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .flex-control-nav.flex-control-thumbs {
    flex-direction: row;
    flex-wrap: wrap;
    order: 3;
    max-width: unset !important;
  }
}
.flex-control-nav.flex-control-thumbs li {
  width: 107.3px !important;
  height: 107.3px !important;
}
.flex-control-nav.flex-control-thumbs li img {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .flex-control-nav.flex-control-thumbs li {
    width: 50px !important;
    height: 50px !important;
  }
  .flex-control-nav.flex-control-thumbs li img {
    width: 50px;
    height: 50px;
  }
}
.flex-viewport {
  order: 3;
}
table.variations {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xsm);
  color: var(--color1);
}
table.variations th.label {
  text-align: left;
  margin-top: var(--gap-xsm);
}
table.variations > tbody > tr:nth-child(1) > th.label {
  margin-top: 0;
}
table.variations tr {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xsm);
}
table.variations tr .value select {
  padding: 5px;
  border-color: var(--color2-light2);
  min-width: 100% !important;
  margin-right: 0 !important;
}
.quantity-plus,
.quantity-minus {
  border: none;
  background-color: var(--color1);
  color: var(--color-light);
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  line-height: 100%;
  min-height: 31px;
  transform: translateY(-2px);
  cursor: pointer;
}
.product-options-js {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-xsm);
  margin-block: var(--gap-xsm);
}
.product-options-js a {
  display: inline-block;
  padding: var(--gap-xsm);
  text-decoration: none;
  border: 1px solid var(--color1);
}
.product-options-js a.active {
  color: var(--color-light);
  background-color: var(--color1);
}
.quantity-plus {
  margin-right: 15px;
}
.hb-single-badges {
  background-color: var(--color2-light3);
  color: var(--color-light);
  margin-block: var(--gap-sm) 0;
}
.hb-single-badges__holder {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-sm);
}
.hb-single-badges__holder a {
  color: inherit;
  text-decoration: none;
}
.hb-single-badges__item {
  color: inherit;
  text-decoration: none;
  flex: 0 1 90px;
}
.hb-single-badges__text,
.hb-single-badges i {
  color: var(--color1);
  margin-bottom: 0;
}
.hb-single-badges__img img {
  height: 66.6px;
  object-fit: contain;
  display: table;
  margin-inline: auto;
}
.hb-single-badges i {
  font-size: 25px;
  display: inline-block;
  padding: var(--gap-sm);
  border: 1px solid var(--color1);
  border-radius: 50%;
  width: 66.6px;
  height: 66.6px;
  transition: var(--transition);
}
.hb-single-badges i:hover {
  background-color: var(--color1);
  color: var(--color-light);
}
.hb-single-quote {
  background-color: var(--color1);
}
.hb-single-quote .hb-container {
  display: flex;
  flex-wrap: wrap;
}
.hb-single-quote__quotation {
  background: var(--color-light);
  padding: var(--gap-md);
  color: var(--color1);
  position: relative;
  z-index: 2;
  flex: 1 1 300px;
}
@media (max-width: 768px) {
  .hb-single-quote__quotation {
    padding: var(--gap-sm);
  }
}
.hb-single-quote__inner {
  color: inherit;
  position: relative;
  text-align: justify;
  font-style: italic;
}
.hb-single-quote__inner::before {
  content: '\201C';
  position: absolute;
  display: block;
  top: -40px;
  left: -30px;
  font-size: 50px;
  font-family: Arial, sans-serif;
  line-height: 100%;
}
.hb-single-quote__inner::after {
  content: '\201D';
  position: absolute;
  display: block;
  bottom: -60px;
  right: -20px;
  font-size: 50px;
  font-family: Arial, sans-serif;
  line-height: 100%;
}
@media (max-width: 800px) {
  .hb-single-quote__inner::before,
  .hb-single-quote__inner::after {
    display: none;
  }
}
.hb-single-quote__description {
  flex: 1 1 300px;
  color: var(--color-light);
  padding: var(--gap-md);
}
.hb-single-quote__description a {
  color: var(--color-light) !important;
}
@media (max-width: 768px) {
  .hb-single-quote__description {
    padding: var(--gap-sm);
  }
}
.hb-single-quote__text > * {
  margin-top: 0;
}
.hb-single-text-rows .hb-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-md);
}
.hb-single-text-rows .hb-container h1,
.hb-single-text-rows .hb-container h2,
.hb-single-text-rows .hb-container h3,
.hb-single-text-rows .hb-container h4,
.hb-single-text-rows .hb-container h5,
.hb-single-text-rows .hb-container h6 {
  color: var(--color1);
}
@media (max-width: 768px) {
  .hb-single-text-rows .hb-container {
    gap: var(--gap-sm);
  }
}
.hb-single-text-rows__cell {
  flex: 1 1 300px;
}
.hb-single-text-rows__cell h1,
.hb-single-text-rows__cell h2,
.hb-single-text-rows__cell h3,
.hb-single-text-rows__cell h4,
.hb-single-text-rows__cell h5,
.hb-single-text-rows__cell h6 {
  color: var(--color1);
}
.hb-single-product-suggest {
  background-color: var(--color2-light3);
}
.hb-single-product-suggest .hb-container h1,
.hb-single-product-suggest .hb-container h2,
.hb-single-product-suggest .hb-container h3,
.hb-single-product-suggest .hb-container h4,
.hb-single-product-suggest .hb-container h5,
.hb-single-product-suggest .hb-container h6 {
  color: var(--color1);
}
.hb-single-product-suggest__holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--gap-md);
}
.hb-single-product-suggest__item {
  flex: 1 1 300px;
  color: var(--color1);
}
.hb-single-product-suggest__item_img img {
  width: 100%;
  max-width: 600px;
  height: auto;
}
ul.products img {
  min-height: 225px;
  max-height: 225px;
  object-fit: cover;
}
.hb-single-product-accessories .products {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-sm);
}
@media (max-width: 768px) {
  .hb-single-product-accessories .products {
    justify-content: center;
  }
}
.hb-single-product-accessories .products img {
  min-height: 225px;
  max-height: 225px;
  object-fit: cover;
}
.hb-single-product-accessories .woocommerce-loop-product__title {
  padding: 0 !important;
}
.hb-single-product-accessories .product {
  margin: 0 !important;
  flex: 0 1 250px;
  display: flex;
  flex-direction: column;
}
.hb-single-product-accessories .product .button.wp-element-button.single_add_to_cart_button.button.alt.wp-element-button {
  margin-top: auto;
  width: fit-content;
  color: var(--color-light);
}
.button.wp-element-button.product_type_simple.add_to_cart_button {
  color: var(--color-light) !important;
}
.hb-on-sale-wrapper {
  position: relative;
}
.hb-on-sale-wrapper span.onsale {
  right: 0;
  left: unset;
  transform: translateY(-50%);
}
.hb-single-product-warning {
  background-color: var(--color2-light3);
  margin-block: var(--gap-lg) 0;
}
.hb-single-product-warning .hb-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-md);
  justify-content: space-between;
}
.hb-single-product-warning__cell {
  flex: 1 1 300px;
}
.product-long-description h1,
.product-long-description h2,
.product-long-description h3,
.product-long-description h4,
.product-long-description h5,
.product-long-description h6 {
  color: var(--color1);
}
.woocommerce .single_add_to_cart_button.button.alt.wp-element-button {
  background-color: var(--color9v1);
}
.woocommerce .single_add_to_cart_button.button.alt.wp-element-button:hover {
  background-color: var(--color9v1);
}
.hb-category-page .hb-category-page-hero__holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--gap-md);
}
@media (max-width: 768px) {
  .hb-category-page .hb-category-page-hero__holder {
    justify-content: center;
  }
}
.hb-category-page .hb-category-page-hero__item {
  flex: 1 1 300px;
}
@media (max-width: 768px) {
  .hb-category-page .hb-category-page-hero__item {
    flex: 1 1 100%;
  }
}
.hb-category-page .hb-category-page-hero__item h1 {
  margin-top: 0;
}
.hb-category-page .hb-category-page-hero__item_img img {
  width: 100%;
  display: block;
  max-width: 600px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .hb-category-page .hb-category-page-hero__item_img img {
    display: table;
    margin-inline: auto;
  }
}
.hb-category-page .hb-category-page-hero__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-sm);
  margin-top: var(--gap-md);
}
@media (max-width: 768px) {
  .hb-category-page .hb-category-page-hero__links a {
    flex: 1 1 auto;
    text-align: center;
  }
}
.hb-category-page .hb-category-page-featured {
  background-color: var(--color2-light3);
  padding-block: var(--gap-sm);
}
.hb-category-page .hb-category-page-featured__heading {
  margin-top: 0;
}
.hb-category-page .hb-category-page-featured__holder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 270px));
  justify-content: center;
  gap: var(--gap-sm);
}
.hb-category-page .hb-category-page-featured__item {
  padding: var(--gap-sm);
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
}
.hb-category-page .hb-category-page-featured__item a {
  text-decoration: none;
}
.hb-category-page .hb-category-page-featured .btn {
  margin-top: auto;
  width: fit-content;
}
.hb-category-page .hb-category-page-featured img {
  display: block;
  width: 100%;
  max-width: 300px;
  height: 225px;
  object-fit: cover;
}
.hb-category-page .term-description {
  display: none;
}
.hb-category-page .hb-category-page-testimonials {
  background-color: var(--color2-light3);
}
.hb-category-page .hb-category-page-testimonials__item {
  padding: var(--gap-sm) var(--gap-md);
}
.hb-category-page .hb-category-page-testimonials__heading {
  margin: 0;
}
.hb-category-page .hb-category-page-testimonials .swiper-button-next,
.hb-category-page .hb-category-page-testimonials .swiper-button-prev {
  color: var(--color2);
}
.hb-category-page .hb-category-page-testimonials .swiper-pagination-bullet {
  background: var(--color2);
}
.hb-category-page .hb-wide-block__holder {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-sm);
  justify-content: space-between;
  margin-block: var(--gap-sm);
}
.hb-category-page .hb-wide-block .hb-wide-block__holder:nth-child(even) .hb-wide-block__item_img {
  order: -1;
}
.hb-category-page .hb-wide-block__item {
  flex: 1 1 300px;
}
.hb-category-page .hb-wide-block__item h1,
.hb-category-page .hb-wide-block__item h2,
.hb-category-page .hb-wide-block__item h3,
.hb-category-page .hb-wide-block__item h4,
.hb-category-page .hb-wide-block__item h5,
.hb-category-page .hb-wide-block__item h6 {
  margin-top: 0;
  color: var(--color1);
}
.hb-category-page .hb-wide-block__item_img img {
  width: 100%;
  max-width: 600px;
  display: block;
}
.hb-category-page-products-manual__holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--gap-sm);
}
.hb-category-page-products-manual__item {
  flex: 1 1 400px;
  position: relative;
  padding: var(--gap-sm);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: var(--gap-xsm);
}
@media (max-width: 1100px) {
  .hb-category-page-products-manual__item {
    flex: 1 1 100%;
  }
}
.hb-category-page-products-manual__bot {
  align-self: center;
  justify-self: flex-end;
  margin-top: auto;
}
.hb-category-page-products-manual__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-sm);
}
@media (max-width: 630px) {
  .hb-category-page-products-manual__inner {
    flex-wrap: wrap;
    gap: var(--gap-xsm);
  }
}
.hb-category-page-products-manual__img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  object-position: center center;
}
@media (max-width: 630px) {
  .hb-category-page-products-manual__img {
    width: 100%;
    margin-bottom: var(--gap-md);
    object-fit: cover;
  }
}
.hb-category-page-products-manual__text {
  text-align: justify;
}
.hb-category-page-products-manual__text p {
  margin-top: 0;
}
.hb-category-page-products-manual__text h1,
.hb-category-page-products-manual__text h2,
.hb-category-page-products-manual__text h3,
.hb-category-page-products-manual__text h4,
.hb-category-page-products-manual__text h5,
.hb-category-page-products-manual__text h6 {
  text-align: left;
  color: var(--color1);
}
.hb-category-page-products-manual__promo {
  padding: var(--gap-xsm);
  background-color: var(--color3);
  color: var(--color-light);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  display: table;
}
@media (min-width: 768px) {
  .hb-category-page-products-manual__promo {
    position: relative;
    top: -20px;
    left: -20px;
    margin-bottom: -30px;
    overflow: hidden;
    transform: translateX(-5px) translateY(-7px);
  }
}
.type-post a,
.entry-title a a {
  color: var(--color2);
}
.type-post a:hover,
.entry-title a a:hover {
  color: var(--color2);
}
.navigation.post-navigation {
  display: none;
}
.articles-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-sm);
}
.articles-wrapper .posts-loop {
  flex: 1 1 320px;
  padding: var(--gap-sm);
  box-shadow: var(--shadow);
  border-radius: 5px;
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
}
.articles-wrapper .posts-loop > *:not(.btn) {
  flex: 1 1 100%;
}
.articles-wrapper .posts-loop__title {
  min-height: 72px;
}
.articles-wrapper .posts-loop__title a {
  color: var(--color2);
  text-decoration: none;
}
.articles-wrapper .posts-loop__content {
  margin-bottom: var(--gap-sm);
}
.articles-wrapper .posts-loop .btn {
  padding: 10px 15px;
  font-size: 16px;
  margin-top: auto;
}
.articles-wrapper a.post-thumbnail img {
  width: 100%;
  max-width: 300px;
  height: 200px;
  object-fit: cover;
  display: table;
  margin-inline: auto;
}
.wp-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xsm);
  margin-block: var(--gap-sm);
}
.wp-pagination a {
  padding: 5px;
  color: var(--color2);
  text-decoration: none;
}
.wp-pagination a:not(.next, .prev, .previous) {
  border: 1px solid var(--color2);
}
#breadcrumbs a {
  color: var(--color2);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color1-light2);
  z-index: 1050;
  transition: var(--transition);
  padding-right: 17px;
}
.modal-backdrop:not(.active) {
  display: none;
}
.modal {
  padding-inline: 10px;
  box-sizing: border-box;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  width: 100vw;
  height: 100vh;
}
.modal-dialog {
  width: 100%;
  max-width: 50rem;
  min-height: calc(100% - 3.5rem);
  margin: 1.75rem auto;
  position: relative;
  display: flex;
  align-items: center;
}
.modal-content {
  border-radius: 2rem;
  padding: var(--gap-sm);
  box-sizing: border-box;
  border-color: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  outline: none;
}
.modal-content .close-modal {
  text-decoration: none;
  font-size: 40px;
  margin-left: auto;
  display: table;
  color: var(--color-dark) !important;
  margin-bottom: var(--gap-sm);
}
.modal-content .custom-form-wrapper,
.modal-content__inner {
  color: var(--color-dark);
  text-align: left;
}
.modal-content .custom-form-wrapper iframe,
.modal-content__inner iframe {
  display: block;
  width: 100%;
  min-height: 400px;
}
@media (max-width: 768px) {
  .modal-content {
    padding: 20px;
  }
}
/*# sourceMappingURL=all.css.map */